{% load static %}

<footer class="section-footer border-top mt-auto">  <!-- mt-auto обязательно -->
    <div class="container">
        <section class="footer-bottom border-top row d-flex justify-content-between align-items-center py-3">
            <div class="col-md-3">
                <p class="text-muted mb-0"> &copy; ARMADA SERVICE </p>
            </div>
            <div class="col-md-9 text-md-right">
                <span class="px-2 d-block d-md-inline">+7 (777) 965-33-33</span>
                <span class="px-2 d-block d-md-inline">
                    г. Шымкент, улица Аргынбекова 2, БЦ Ул-АР 2 этаж 207. <br>
                    Алматинская область, Каскелен, Абылай хан 74,
                </span>
            </div>
        </section>
    </div>
</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $('.thumb a').click(function(e){
            e.preventDefault();
            $('.mainImage img').attr('src', $(this).attr("href"));
        })
    })
</script>


</body>
</html>