{% load static %}

<header class="section-header">
    <nav class="navbar p-md-0 navbar-expand-sm navbar-light border-bottom">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop4"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTop4">
                <ul class="navbar-nav align-items-center">
                    <li><a href="{% url 'about' %}" class="nav-link text-primary">О нас</a></li>
                    <li><a href="{% url 'contact' %}" class="nav-link text-primary">Контакты</a></li>
                    <li><a href="{% url 'certificates' %}" class="nav-link text-primary">Сертификаты</a></li>
                    <li><a href="{% url 'portfolio' %}" class="nav-link text-primary">Наши работы</a></li>
                </ul>
                <ul class="navbar-nav ml-auto d-flex align-items-center">
                    <li class="nav-item">
                        <a href="tel:+77006030380" class="nav-link text-primary" style="display: flex; align-items: center;">
                            <i class="fa fa-phone" style="margin-right: 5px;"></i> +7 (777) 965-33-33
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="tel:+77006030380" class="nav-link text-primary" style="display: flex; align-items: center;">
                            <i class="fa fa-phone" style="margin-right: 5px;"></i> +7 (705) 856-01-72
                        </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a href="https://www.instagram.com/armada_service.kz?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank" class="nav-link">
                            <i class="fab fa-instagram" style="color:#e1306c; font-size: 20px;"></i>
                        </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a href="https://wa.me/77779653333" target="_blank" class="nav-link">
                            <i class="fab fa-whatsapp" style="color:green; font-size: 20px;"></i>
                        </a>
                    </li>
                </ul>
            </div>
            
        </div>
    </nav>

    <section class="header-main border-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-2 col-md-3 col-6 d-flex align-items-center">
                    <a href="{% url 'home' %}" class="brand-wrap" style="text-decoration: none;">
                        <span style="font-family: 'Georgia', serif; font-size: 20px; font-weight: bold;">
                            <span style="color: #0056d2;">ARMADA</span> <span style="color: #6c757d;">SERVICE</span>
                        </span>
                    </a>
                </div>
                
                
                <div class="col-lg col-sm col-md col-6 flex-grow-0">
                    <div class="category-wrap dropdown d-inline-block float-right">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bars"></i> Все товары
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'store' %}">Все товары</a>
                            {% for category in links %}
                            <a class="dropdown-item" href="{{ category.get_url }}">{{ category.category_name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg  col-md-6 col-sm-12 col">
                    <form action="{% url 'search' %}" class="search" method="GET">
                        <div class="input-group w-100">
                            <input type="text" class="form-control" style="width:60%;" placeholder="Поиск"
                                   name="keyword">

                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-lg-3 col-sm-6 col-8 order-2 order-lg-3">
                    <div class="d-flex justify-content-end mb-3 mb-lg-0">
                        {% if user.id is None %}
                        <div class="widget-header">
                            <small class="title text-muted">Добро пожаловать!</small>
                            <div>
                                <a href="{% url 'login' %}">Вход</a> <span class="dark-transp"> | </span>
                                <a href="{% url 'register' %}">Регистрация</a>
                            </div>
                        </div>
                        {% else %}
                        <div class="widget-header">
                            <small class="title text-muted">Добро пожаловать, {{ user.first_name }}!</small>
                            <div>
                                <a href="{% url 'dashboard' %}">Личный кабинет</a> <span class="dark-transp"> | </span>
                                <a href="{% url 'logout' %}">Выйти</a>
                            </div>
                        </div>
                        {% endif %}
                        <a href="{% url 'cart' %}" class="widget-header pl-3 ml-3">
                            <div class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"></i></div>
                            <span class="badge badge-pill badge-danger notify">{{ cart_count }}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</header>